body {
    color: #000 !important;
    
  
}
.form-control  {
    border: 1px solid #00246b !important;
}
.input-group-addon {
    border: 1px solid #00246b !important;
    border-radius:0px !important;
}
.input-group-addon {
    border-color: #00246b !important;
}
.tbl_common {
    border-collapse: collapse !important;
}
i.ti-trash {
    color: #fd0d0d;
}
input[required="true"], input[required], select[required="true"], select[required], textarea[required="true"], div[required="true"] {
    background-color: #CFF
}

.required_field {
    background-color: #CFF !important
}
.input-disabled {
    background-color: #EBEBE4;
    border: 1px solid #ABADB3;
    padding: 2px 1px;
}
input:focus, select:focus, textarea:focus {
    background-color: #FFC !important;      
    box-shadow: 0 0 5px #b9d4e9 !important;
}
input[readonly="readonly"] {
    background: #EFEFEF !important;
}
.control_disable {
    background: #c0c0c0 !important;
    border: 1px solid #999;
}
.file-upload {
    display: none;
}

.circle {
    /*border-radius: 1000px !important;*/
    margin-top: 35px;
    overflow: hidden;
    width: 16em;
    height: 21em;
    /*border: 8px solid rgba(255, 255, 255, 0.7);*/
    /*margin-left: 50px;*/
    /*position: absolute;*/
    /*top: 72px;*/
}

.p-image:hover {
    background-color: gray;
    color: black;
    opacity: 0.8;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

#profileImage {
    cursor: pointer;
}

.uploadDocBox {
    opacity: 0.4;
}

    .uploadDocBox:hover {
        opacity: 0.8;
    }